In [1]:
import pandas as pd

In [3]:
# Load labeled sets
sisi_data = pd.read_csv('sisi_labeled_data.csv', encoding="ISO-8859-1")
jb_data = pd.read_csv('jb_labelled_data.csv', encoding="ISO-8859-1")
# Note: there was no need to upload a labeled data set as all the entries retained a class of 0 (default)
marin_data = pd.read_csv('marin_unlabeled_data.csv', encoding="ISO-8859-1")

In [4]:
# Concat sets into full data set
frames = [sisi_data, marin_data, jb_data]
full_data = pd.concat(frames)

In [5]:
full_data.head()

,Unnamed: 0,body,class,date,id,score,subreddit
0,1000,"Lauterbrunnen, Swiss Alps.",0,1.556300e+09,bhp18v,356,MGTOW
1,1001,This domestic abuse billboard acknowledges tha...,0,1.556335e+09,bhuwn3,1553,MGTOW
2,1002,Hypergamist thot's confession.,0,1.556324e+09,bht9sd,1002,MGTOW
3,1003,Before MGTOW (2018) | After MGTOW (2019),0,1.556334e+09,bhutic,436,MGTOW
4,1004,About what we expected,0,1.556360e+09,bhxotx,114,MGTOW

In [7]:
full_data['class'].value_counts()

 0    2237
 1     574
-1     189
Name: class, dtype: int64

In [ ]:
# Save full data set
full_data.to_csv('labeled_data.csv')