In [1]:
import pandas as pd

In [2]:
csv_path = 'reddit_posts.csv'
data = pd.read_csv(csv_path,encoding = "ISO-8859-1")

In [3]:
data.head()

,body,class,date,id,score,subreddit
0,A day or two ago a post popped up by a girl cl...,0,1.534876e+09,995no4,4289,offmychest
1,"I hate my job, Im a telemarketer. I hate call...",0,1.556339e+09,bhvjea,2921,offmychest
2,So my step-son has gone through some shit. His...,0,1.556284e+09,bhm09j,4579,offmychest
3,After years of waking up to tweak for endless ...,0,1.556327e+09,bhtw9n,267,offmychest
4,Thought internet people would be glad to hear ...,0,1.556340e+09,bhvnce,115,offmychest

In [4]:
data['subreddit'].value_counts()

offmychest              500
GenderCritical          500
genderqueer             500
Showerthoughts          500
MGTOW                   500
traaaaaaannnnnnnnnns    500
Name: subreddit, dtype: int64

In [5]:
data.shape

(3000, 6)

In [6]:
for_jb = data.loc[data['subreddit'].isin(['traaaaaaannnnnnnnnns','genderqueer'])]

In [7]:
for_sisi = data.loc[data['subreddit'].isin(['MGTOW','GenderCritical'])]

In [8]:
for_marin = data.loc[data['subreddit'].isin(['offmychest','Showerthoughts'])]

In [9]:
for_jb.to_csv('./jb_unlabeled_data.csv')
for_sisi.to_csv('./sisi_unlabeled_data.csv')
for_marin.to_csv('./marin_unlabeled_data.csv')